{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %} 
{% block body %} 
<div class="container">
<img src="https://source.unsplash.com/1200x400/?telephone">
</div>
<h1  class="text-center">Contact Us</h3>
<form method="post" action="/contact">
{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
  </div>
 <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name='email' id="email" placeholder="Enter your email id">
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone no.">
  </div>
  
   
  <div class="form-group">
    <label for="desc">Reason for the contact</label>
    <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
  </div>
 <button class="btn btn-primary px-2  my-3 "  type="submit">Submit</button>
</form>
{% endblock body %}