{% extends 'base.html' %}
{% block body %}
 <div container='class'>
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/11.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/10.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/2.jfif" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<div class="container my-5 px-3">
<h1 class='my-2 text-center'>select the game you wanna play!<h1>
<div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/static/images/9.jfif" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">TIC TAC TOE</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-outline-secondary">Play!</button>
                      
                    </div>
                    <small class="text-muted">kamikaze</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/static/images/6.jfif" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Matchstick Game</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-outline-secondary">Play!</button>
                     
                    </div>
                    <small class="text-muted">kamikaze</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/static/images/8.jfif" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Sudoku</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-outline-secondary">Play!</button>
                      
                    </div>
                    <small class="text-muted">kamikaze</small>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
            
 </div>
{% endblock body %}
